/* Meta data line below post title */
.post-readtime {
    display: block;
    color: #9a9a9a;
  }

  ul.tagcloud li {
    display: inline-block;
}

li.tag-1 {
    font-size: 125%;
}

li.tag-2 {
    font-size: 120%;
}

/* ... add li.tag-3 etc, as much as needed */

ul.tagcloud .list-group-item span.badge {
    background-color: grey;
    color: white;
}